@import "tailwindcss";

body{
    margin-left: 32px;
    margin-right: 32px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
